name: Run M3U8 Processor

on:
  schedule:
    - cron: '0 * * * *'   # Her saat başı çalıştır
  workflow_dispatch:       # Manuel tetikleme

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4
      - name: Run processor
        run: python processor.pyw
